<% content_for :title do %>
	Login
<% end %>

<%= render 'shared/search-bar' %>
<div id="content">
	<div class="wrapper">
		<div class="form">
			<% if flash[:notice] %>
				<p class="notice"><%= flash[:notice] %></p>
			<% end %>
			<h2 class="title">Login</h2>
			<%= simple_form_for(:session, :url => sessions_path) do |f| %>
			  <%= f.input :email, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :password, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.button :submit, "Login", :class => "btn" %>
			<% end %>
			<p><small>Still don't have an accout? Please <a href="/users/new">Sign up</a></small></p>
			<div class="clear"></div>
		</div>
	</div>
</div>