<% content_for :title do %>
	Select categories
<% end %>

<%= render 'shared/search-bar' %>
<div id="content">
		<div class="wrapper">
			<h2>Welcome <%= @user.first_name.capitalize %>!</h2>
			<div class="dashboard">
				<h2 class="title">Select product categories for your Garage Sale</h2>
				<%= simple_form_for(@listing) do |f| %>
				  <%= f.association :type, label: "<p><strong>What kind of items are you selling?</strong> Select all product categories that applies.</p>", as: :check_boxes%>
				  <%= f.input :garage_id, as: :hidden, input_html: { value:@garage.id } %>
				  <%= f.button :submit, "Save selection", :class => "btn" %>
				<% end %>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>	