<% content_for :title do %>
	New Garage Sale
<% end %>

<%= render 'shared/search-bar' %>
<div id="content">
	<div class="wrapper">
		<h2>Welcome <%= @user.first_name.capitalize %>!</h2>
		<div class="dashboard">
			<h2 class="title">Create a new garage sales</h2>
			<%= simple_form_for(@garage) do |f| %>
			  <%= f.input :title, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :description, label_html: { class: 'question' }, input_html: { rows: '4', cols: '60'} %>
			  <%= f.input :date, label: 'Date and time', label_html: { class: 'question' } %>
			  <%= f.input :street, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :city, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :state, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :zipcode, label_html: { class: 'question' }, input_html: { type: 'text', class: 'input-field' } %>
			  <%= f.input :user_id, as: :hidden, input_html: { value:session[:user_id] } %>
			  <%= f.button :submit, "Save Garage Sale", :class => "btn" %>
			<% end %>
			<div class="clear"></div>
		</div>
	</div>
</div>	