<% content_for :title do %>
	Sign up
<% end %>

<%= render 'shared/search-bar' %>
<div id="content">
	<div class="wrapper">
		<div class="form">
			<h2 class="title">Sign up</h2>
			<%= simple_form_for(@user) do |f| %>
			  <%= f.input :first_name, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :last_name, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :email, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :password, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.input :password_confirmation, label_html: { class: 'question' }, input_html: { class: 'input-field' } %>
			  <%= f.button :submit, "Sign up", :class => "btn" %>
			  <p><small>By clicking "Sign up", you are accepting the <a href="">Terms and conditions</a> of this site.</small></p>
			<% end %>
			<div class="clear"></div>
			<% if flash[:error] %>
				<p><%= flash[:error] %></p>
			<% end %>
		</div>
	</div>
</div>