<% content_for :title do %>
	Upload an image
<% end %>

<%= render 'shared/search-bar' %>
<div id="content">
		<div class="wrapper">
			<h2>Welcome <%= @user.first_name.capitalize %>!</h2>
			<div class="dashboard">
				<h2 class="title">Select product categories for your Garage Sale</h2>
				<%= simple_form_for(@image) do |f| %>
				  <%= f.file_field :url %>
				  <%= f.input :title, as: :hidden, input_html: { value:'Garage sale image' } %>
				  <%= f.input :garage_id, as: :hidden, input_html: { value:@garage.id } %>
				  <%= f.button :submit, "Upload image", :class => "btn" %>
				<% end %>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>	